/* ==========================
	Write your solution here!
   ========================== */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.outer-box {
  border: solid 10px #f24c46;
}

.inner-box {
  width: 30px;
  height: 30px;
  border: solid 10px #1785eb;
}
